.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: #00000099;

  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;

  &__wrapper {
    flex: 0 1 1251px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__close {
    line-height: 0;
  }
  &.open {
    opacity: 1;
    visibility: visible;
  }
}
