@import "./fonts";
@import "./null";
body {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat";
}

.wrapper {
  position: relative;
}
// style ui
@import "./components/ui/button";

// style components
@import "./components/header";
@import "./components/main";
@import "./components/brochure-button";
@import "./components/svg-map";

// style form
@import "./components/form-brochure.scss";

// style modals
@import "./components/modals/modals";
@import "./components/modals/modal-360";
@import "./components/modals/modal-form";
